.navBarElement{
 color: antiquewhite;
 text-decoration: none;

}


.navBarElementNavDropdown{
    color: black;
    text-decoration: none;
   
   }



   .cartItemCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}